<h1 class="page-header">用户中心</h1>

<h4 class="sub-header">积分信息</h4>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>用户获取积分总计</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{.user_total_money}}</td>
      </tr>
    </body>
  </table>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>可提现积分</th>
        <th><a href="./invest">查看积分来源明细</a></th>
      </tr>
    </thead>
  </table>
</div>

<div class="row placeholders">
  <div class="col-xs-1 col-sm-1 placeholder">
    <h4 id="money_nums">
      {{.user_effect_money}}
    </h4>
  </div>
  <div class="col-xs-1 col-sm-4">
    <div class="table-responsive">
      <div class="form-group navbar-form">
        <input name="nums" id="nums" type="product" placeholder="请输入提现积分" class="form-control">
        <button type="button" id="get_money" class="btn btn-success">申请提现</button>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-info" role="alert">
  <strong>请注意</strong> 可提现积分只有在提现申请［审核通过］后才会做递减
</div>

<script>
$(document).ready(function(){
  var gm = function(){
    if( ($("#nums").val() / 50000) >= 1 && {{.user_effect_money}} >= $("#nums").val() ){
      return true;
    }else{
      return false;
    }
  }

  var gmgm = function(){
    if ( {{.user_effect_money}} >= 50000 ) {
      return true
    }else{
      return false
    }
  }

  $("#get_money").click(function(){
    if ( !gmgm() ) {
      alert("您当前没有足够兑换的积分！");
      return false
    }

    if ( gm() ) {
      //alert("ok");
      $.getJSON("./money/get?n="+ $("#nums").val(),function(result){
        if ( result.success == "1" ) {
          alert("积分兑换申请成功");
          window.location.href = "./money";
        }else{
          alert("积分兑换失败，请联系管理员！！！");
        }
      });
    }else{
      alert("您输入的积分数值不正确!");
    }
  });
});
</script>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>提现记录</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>编号</td>
        <td>提现时间</td>
        <td>提现账号</td>
        <td>提现积分</td>
        <td>剩余积分</td>
        <td>总积分</td>
        <td>状态</td>
      </tr>

      {{range $index,$elem := .user_nums}}
      <tr>
        <td>{{$index}}</td>
        <td>{{$elem.create_time}}</td>
        <td>{{$.session}}</td>
        <td>{{$elem.cash_integral}}</td>
        <td>{{$elem.remain_integral}}</td>
        <td>{{$elem.total_integral}}</td>
        <td>
          {{if eq $elem.status "1"}}
            提现成功
          {{else}}
            审核中
          {{end}}
        </td>
      </tr>
      {{end}}
    </body>
  </table>
</div>

<h4 class="sub-header">提现帐户设置</h4>
<div class="table-responsive">
<form class="navbar-form" action="/user/money" method="post">
  <div class="form-group">
    <input name="alipay_account_name" type="product" value="{{.account_name}}" placeholder="支付宝名称" class="form-control">
  </div>
  <div class="form-group">
    <input name="alipay_account" type="product" value="{{.account}}" placeholder="支付宝账号" class="form-control">
  </div>
  <button type="submit" class="btn btn-success">确认帐户</button>
</form>
</div>
